$icomoon-font-family: "CalciteWebCoreIcons" !default;
$icomoon-font-path: "fonts" !default;

$esri-icon-paypal-path1: unquote('"\\e936"');
$esri-icon-paypal-path2: unquote('"\\e937"');
$esri-icon-paypal-path3: unquote('"\\e938"');
$esri-icon-webchat: unquote('"\\e934"');
$esri-icon-alipay: unquote('"\\e935"');
$esri-icon-donate: unquote('"\\e933"');
$esri-icon-screeninteract: unquote('"\\e932"');
$esri-icon-splitscreen: unquote('"\\e931"');
$esri-icon-2d: unquote('"\\e92d"');
$esri-icon-3d: unquote('"\\e930"');
$esri-icon-measure-rectangle: unquote('"\\e92a"');
$esri-icon-measure-polyline: unquote('"\\e92b"');
$esri-icon-measure-polygon: unquote('"\\e92c"');
$esri-icon-measurement: unquote('"\\e92f"');
$esri-icon-measure-circle: unquote('"\\e928"');
$esri-icon-measure-clean: unquote('"\\e929"');
$esri-icon-measure-point: unquote('"\\e92e"');
$esri-icon-zoomIn: unquote('"\\e926"');
$esri-icon-zoomOut: unquote('"\\e927"');
$esri-icon-fullscreen: unquote('"\\e924"');
$esri-icon-toolbar: unquote('"\\e925"');
$esri-icon-swipe: unquote('"\\e921"');
$esri-icon-spriteLine: unquote('"\\e922"');
$esri-icon-fire: unquote('"\\e923"');
$esri-icon-mars: unquote('"\\e920"');
$esri-icon-cloud: unquote('"\\e91f"');
$esri-icon-sphere: unquote('"\\e91d"');
$esri-icon-widgets: unquote('"\\e91e"');
$esri-icon-earthquake: unquote('"\\e91c"');
$esri-icon-media: unquote('"\\e919"');
$esri-icon-building: unquote('"\\e91a"');
$esri-icon-layer: unquote('"\\e91b"');
$esri-icon-mapbase: unquote('"\\e918"');
$esri-icon-datatype: unquote('"\\e912"');
$esri-icon-query: unquote('"\\e913"');
$esri-icon-anaysis: unquote('"\\e914"');
$esri-icon-edit: unquote('"\\e915"');
$esri-icon-visualization: unquote('"\\e916"');
$esri-icon-function: unquote('"\\e917"');
$esri-icon-new: unquote('"\\e911"');
$esri-icon-close: unquote('"\\e600"');
$esri-icon-drag-horizontal: unquote('"\\e601"');
$esri-icon-drag-vertical: unquote('"\\e602"');
$esri-icon-handle-horizontal: unquote('"\\e603"');
$esri-icon-handle-vertical: unquote('"\\e604"');
$esri-icon-check-mark: unquote('"\\e605"');
$esri-icon-left-triangle-arrow: unquote('"\\e606"');
$esri-icon-right-triangle-arrow: unquote('"\\e607"');
$esri-icon-down-arrow: unquote('"\\e608"');
$esri-icon-up-arrow: unquote('"\\e609"');
$esri-icon-overview-arrow-bottom-left: unquote('"\\e60a"');
$esri-icon-overview-arrow-bottom-right: unquote('"\\e60b"');
$esri-icon-overview-arrow-top-left: unquote('"\\e60c"');
$esri-icon-overview-arrow-top-right: unquote('"\\e60d"');
$esri-icon-maximize: unquote('"\\e60e"');
$esri-icon-minimize: unquote('"\\e60f"');
$esri-icon-checkbox-unchecked: unquote('"\\e610"');
$esri-icon-checkbox-checked: unquote('"\\e611"');
$esri-icon-radio-unchecked: unquote('"\\e612"');
$esri-icon-radio-checked: unquote('"\\e613"');
$esri-icon-up-arrow-circled: unquote('"\\e614"');
$esri-icon-down-arrow-circled: unquote('"\\e615"');
$esri-icon-left-arrow-circled: unquote('"\\e616"');
$esri-icon-right-arrow-circled: unquote('"\\e617"');
$esri-icon-zoom-out-fixed: unquote('"\\e618"');
$esri-icon-zoom-in-fixed: unquote('"\\e619"');
$esri-icon-refresh: unquote('"\\e61a"');
$esri-icon-edit1: unquote('"\\e61b"');
$esri-icon-authorize: unquote('"\\e61c"');
$esri-icon-map-pin: unquote('"\\e61d"');
$esri-icon-blank-map-pin: unquote('"\\e61e"');
$esri-icon-table: unquote('"\\e61f"');
$esri-icon-plus: unquote('"\\e620"');
$esri-icon-minus: unquote('"\\e621"');
$esri-icon-beginning: unquote('"\\e622"');
$esri-icon-reverse: unquote('"\\e623"');
$esri-icon-pause: unquote('"\\e624"');
$esri-icon-play: unquote('"\\e625"');
$esri-icon-forward: unquote('"\\e626"');
$esri-icon-end: unquote('"\\e627"');
$esri-icon-erase: unquote('"\\e628"');
$esri-icon-up-down-arrows: unquote('"\\e629"');
$esri-icon-left: unquote('"\\e62a"');
$esri-icon-right: unquote('"\\e62b"');
$esri-icon-announcement: unquote('"\\e62c"');
$esri-icon-notice-round: unquote('"\\e62d"');
$esri-icon-notice-triangle: unquote('"\\e62e"');
$esri-icon-home: unquote('"\\e62f"');
$esri-icon-locate: unquote('"\\e630"');
$esri-icon-expand: unquote('"\\e631"');
$esri-icon-collapse: unquote('"\\e632"');
$esri-icon-layer-list: unquote('"\\e633"');
$esri-icon-basemap: unquote('"\\e634"');
$esri-icon-globe: unquote('"\\e635"');
$esri-icon-applications: unquote('"\\e636"');
$esri-icon-arrow-up-circled: unquote('"\\e637"');
$esri-icon-arrow-down-circled: unquote('"\\e638"');
$esri-icon-arrow-left-circled: unquote('"\\e639"');
$esri-icon-arrow-right-circled: unquote('"\\e63a"');
$esri-icon-minus-circled: unquote('"\\e63b"');
$esri-icon-plus-circled: unquote('"\\e63c"');
$esri-icon-add-attachment: unquote('"\\e63d"');
$esri-icon-attachment: unquote('"\\e63e"');
$esri-icon-calendar: unquote('"\\e63f"');
$esri-icon-close-circled: unquote('"\\e640"');
$esri-icon-browser: unquote('"\\e641"');
$esri-icon-collection: unquote('"\\e642"');
$esri-icon-comment: unquote('"\\e643"');
$esri-icon-configure-popup: unquote('"\\e644"');
$esri-icon-contact: unquote('"\\e645"');
$esri-icon-dashboard: unquote('"\\e646"');
$esri-icon-deny: unquote('"\\e647"');
$esri-icon-description: unquote('"\\e648"');
$esri-icon-directions: unquote('"\\e649"');
$esri-icon-directions2: unquote('"\\e64a"');
$esri-icon-documentation: unquote('"\\e64b"');
$esri-icon-duplicate: unquote('"\\e64c"');
$esri-icon-review: unquote('"\\e64d"');
$esri-icon-environment-settings: unquote('"\\e64e"');
$esri-icon-error: unquote('"\\e64f"');
$esri-icon-error2: unquote('"\\e650"');
$esri-icon-experimental: unquote('"\\e651"');
$esri-icon-feature-layer: unquote('"\\e652"');
$esri-icon-filter: unquote('"\\e653"');
$esri-icon-grant: unquote('"\\e654"');
$esri-icon-group: unquote('"\\e655"');
$esri-icon-key: unquote('"\\e656"');
$esri-icon-labels: unquote('"\\e657"');
$esri-icon-tag: unquote('"\\e658"');
$esri-icon-layers: unquote('"\\e659"');
$esri-icon-left-arrow: unquote('"\\e65a"');
$esri-icon-right-arrow: unquote('"\\e65b"');
$esri-icon-link-external: unquote('"\\e65c"');
$esri-icon-link: unquote('"\\e65d"');
$esri-icon-loading-indicator: unquote('"\\e65e"');
$esri-icon-maps: unquote('"\\e65f"');
$esri-icon-marketplace: unquote('"\\e660"');
$esri-icon-media1: unquote('"\\e661"');
$esri-icon-media2: unquote('"\\e662"');
$esri-icon-menu: unquote('"\\e663"');
$esri-icon-mobile: unquote('"\\e664"');
$esri-icon-phone: unquote('"\\e665"');
$esri-icon-navigation: unquote('"\\e666"');
$esri-icon-pan: unquote('"\\e667"');
$esri-icon-printer: unquote('"\\e668"');
$esri-icon-pie-chart: unquote('"\\e669"');
$esri-icon-chart: unquote('"\\e66a"');
$esri-icon-line-chart: unquote('"\\e66b"');
$esri-icon-question: unquote('"\\e66c"');
$esri-icon-resend-invitation: unquote('"\\e66d"');
$esri-icon-rotate: unquote('"\\e66e"');
$esri-icon-save: unquote('"\\e66f"');
$esri-icon-settings: unquote('"\\e670"');
$esri-icon-settings2: unquote('"\\e671"');
$esri-icon-share: unquote('"\\e672"');
$esri-icon-sign-out: unquote('"\\e673"');
$esri-icon-support: unquote('"\\e674"');
$esri-icon-user: unquote('"\\e675"');
$esri-icon-time-clock: unquote('"\\e676"');
$esri-icon-trash: unquote('"\\e677"');
$esri-icon-upload: unquote('"\\e678"');
$esri-icon-download: unquote('"\\e679"');
$esri-icon-zoom-in-magnifying-glass: unquote('"\\e67a"');
$esri-icon-search: unquote('"\\e67b"');
$esri-icon-zoom-out-magnifying-glass: unquote('"\\e67c"');
$esri-icon-locked: unquote('"\\e67d"');
$esri-icon-unlocked: unquote('"\\e67e"');
$esri-icon-favorites: unquote('"\\e67f"');
$esri-icon-compass: unquote('"\\e680"');
$esri-icon-down: unquote('"\\e681"');
$esri-icon-up: unquote('"\\e682"');
$esri-icon-chat: unquote('"\\e683"');
$esri-icon-dock-bottom: unquote('"\\e684"');
$esri-icon-dock-left: unquote('"\\e685"');
$esri-icon-dock-right: unquote('"\\e686"');
$esri-icon-organization: unquote('"\\e687"');
$esri-icon-north-navigation: unquote('"\\e688"');
$esri-icon-locate-circled: unquote('"\\e689"');
$esri-icon-dial: unquote('"\\e68a"');
$esri-icon-polygon1: unquote('"\\e68b"');
$esri-icon-polyline1: unquote('"\\e68c"');
$esri-icon-visible: unquote('"\\e68d"');
$esri-icon-non-visible: unquote('"\\e68e"');
$esri-icon-link-vertical: unquote('"\\e68f"');
$esri-icon-unlocked-link-vertical: unquote('"\\e690"');
$esri-icon-link-horizontal: unquote('"\\e691"');
$esri-icon-unlocked-link-horizontal: unquote('"\\e692"');
$esri-icon-swap: unquote('"\\e693"');
$esri-icon-cta-link-external: unquote('"\\e694"');
$esri-icon-reply: unquote('"\\e695"');
$esri-icon-public: unquote('"\\e696"');
$esri-icon-share2: unquote('"\\e697"');
$esri-icon-launch-link-external: unquote('"\\e698"');
$esri-icon-rotate-back: unquote('"\\e699"');
$esri-icon-pan2: unquote('"\\e69a"');
$esri-icon-tracking: unquote('"\\e69b"');
$esri-icon-expand2: unquote('"\\e69c"');
$esri-icon-arrow-down: unquote('"\\e69d"');
$esri-icon-arrow-up: unquote('"\\e69e"');
$esri-icon-hollow-eye: unquote('"\\e69f"');
$esri-icon-play-circled: unquote('"\\e6a0"');
$esri-icon-volume-off: unquote('"\\e6a1"');
$esri-icon-volume-on: unquote('"\\e6a2"');
$esri-icon-bookmark: unquote('"\\e900"');
$esri-icon-lightbulb: unquote('"\\e901"');
$esri-icon-sketch-rectangle: unquote('"\\e902"');
$esri-icon-north-navigation-filled: unquote('"\\e903"');
$esri-icon-default-action: unquote('"\\e904"');
$esri-icon-undo: unquote('"\\e905"');
$esri-icon-redo: unquote('"\\e906"');
$esri-icon-cursor: unquote('"\\e907"');
$esri-icon-cursor-filled: unquote('"\\e908"');
$esri-icon-measure: unquote('"\\e90a"');
$esri-icon-measure-line: unquote('"\\e909"');
$esri-icon-measure-area: unquote('"\\e90b"');
$esri-icon-legend: unquote('"\\e90c"');
$esri-icon-sliders: unquote('"\\e90d"');
$esri-icon-sliders-horizontal: unquote('"\\e90e"');
$esri-icon-cursor-marquee: unquote('"\\e90f"');
$esri-icon-lasso: unquote('"\\e910"');

